

.allinone
{
	margin:2px;
}

.thre
{
   position: fixed;
   min-height=5%;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white	;
   color: white;
   text-align: center;
   font-size:20px;
   font-weight:bold;
}


